.custom-margin-top {
    margin-top: 6% !important;
}

.custom-margin-top-row {
    margin-top: 2% !important;
}

.order .custom-height {
    height: 320px;
}

.order-date {
    position: absolute;
    right: 51px;
}

.order-card-body {
    height: inherit;
    overflow-y: scroll;
}

.order-card {
    max-height: 585px;
    overflow-y: auto;
}

.font-14 {
    font-size: 14px;
}

.order-card-body::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

/* Track */
.order-card-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.order-card-body::-webkit-scrollbar-thumb {
    background: #888;
}
.order-card::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

/* Track */
.order-card::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.order-card::-webkit-scrollbar-thumb {
    background: #888;
}

.month-select {
    position: absolute;
    right: 6px;
    top: 7px;
}